
{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block content %}
      

<div class="panel panel-info">
      <div class="panel-heading">
            <h2 class="panel-title"><center>ANALISIS DE GASES DISUELTOS EN ACEITE </center></h2>       
     </div>


    <div class="panel-body">
        <!-- ######################################################################  -->
        <div class="row">
             


            	 <div class="col-md-12>
               		 <div class="thumbnail">                                    
		                    <div class="caption">
		                    <h4><center>GASES PRESENTES EN EL TRANSFORMADOR</center></h4> 
                        <center><img src="/grafico_gases_presentes/{{central}}/{{transformador}}"></center>
                        <BR>
                        <center><p>Fenomeno detectado {{estado_segun_gaskey}}</p></center>
                        <BR>
                        <h4><center>#########################################################</center></h4> 
                        <BR>
                        

		                    <h4><center>GASES COMBUSTIBLES PRESENTES EN EL TRANSFORMADOR</center></h4> 
                        <BR>
                        <center><img src="/grafico_gases_combustibles/{{central}}/{{transformador}}"></center>
		                    </div>  

                      <p><center>Estado del Transformador </p></center>
                      <p><center>{{estado_trafo}}</p></center>
                                            

                        <br>
                        <p><center> Estado de los gases</p></center> 
                        <p><center>{{ESTADO_DE_GASES}}</p>
                        
                        <h4><center>#########################################################</center></h4> 
                        <BR>
                        <BR>


                     </div>
                 </div>


               
        </div>
        

        






    </div>
</div>

                
 

{% endblock %}
