{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% load thumbnail %}


{% block content %}
      

<div class="panel panel-info">
      <div class="panel-heading">
            <h2 class="panel-title"><center> ANALISIS DE DESCARGAS PARCIALES </center></h2>
       
                      
     </div>

<div class="panel-body">
    
        <div class="row">         

            	 <div class="col-md-12">
               		 <div class="thumbnail">                                    
		                    <div class="caption">		            

                    <h4><center> {{central_x}} </center></h4>
                    <h4><center>
                     GENERADOR {{identificador.generador.codigo}}
                     Marca {{identificador.generador.marca}}  </center></h4>
                       <center></h4>Modelo {{identificador.generador.modelo}}  
                     Unidad {{identificador.generador.cararcteristicas}}
                     
                     <br>
                                        
                     {% for j in datos_DP %} 

                             {% thumbnail j.imagen_PRPDD_1 "200" crop="center" as im %}
                              <a href="" target="_blank"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                             {% endthumbnail %}  

                             <br> 

                              {% thumbnail j.imagen_3D_1  "200" crop="center" as im %}
                              <a href="" target="_blank"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                             {% endthumbnail %}   

                             <br>

                              {% thumbnail j.imagen_PHD_1 "200" crop="center" as im %}
                              <a href="" target="_blank"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                             {% endthumbnail %}   
               
                     
                     {% endfor %}                             


                        </div></center>
                                                                     
                        </div>
                    </div>          
                </div>             
        </div>

 
 </div>

</div>
                
 {% endblock %}
