{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block content %}
      

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center>  {{central_x}} Lista de Transformadores</center></h2>
      </div>


    <div class="panel-body">

            <div class="row">

             <div class="col-md-12">
                <div class="thumbnail">                                    
                  <div class="caption">
                    <h4><center>Codigo de transformador !!</center></h4>
                           <br>
                        {%  for i in lista_transformadores %}
                            <li><a href="/listado_de_mediciones/{{central_x}}/{{transformador_x}}"> {{central_x}}  {{transformador_x}} ver datos</a></li>
                            <br>
                        {%  endfor %} 

                                                
                   </div>                  
              
                
                  
                </div>
            </div>


          </div>

        </div>
  </div>

  {% endblock %}