 {% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block content %}


<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center>EQUIPOS EN ESTUDIO DE {{central_x}} 
        </center></h2>
          
      </div>


    <div class="panel-body">

            <div class="row">

             <div class="col-md-12">
                <div class="thumbnail"> 
                     <div class="caption">
                      <center><h2 class="panel-title"> Analsisis de Gases disueltos en aceite de Transformadores</h2></center>
                      <br>
                    
                     <center>
                         <table BORDER="1" CELLSPACING="1">
                            
                             <tr  align="center">
                                    
                                    <td WIDTH="75">Unidad</td>  
                                    <td WIDTH="120">Tx CODIGO</td>                 
                                    <td WIDTH="170">Tx MARCA</td>

                                   
                                    
                                    <td WIDTH="80">Ver </td>
                             </tr > 


                            {%  for i in lista_transformadores %}   
                                
                                <tr  align="center">
                                    
                                    <td WIDTH="75">{{i.codigo}}</td>   
                                    <td WIDTH="100">{{i.modelo}}</td>              
                                    <td WIDTH="150">{{i.marca}}</td>           
                                   
                                    
                                    <td WIDTH="80">
 
                                    {%  if user.is_authenticated and usuario_comun.privilegio == "DE_ALTA" and usuario_comun.central.nombre == central_x  %}  
                                    <a href="/analisis/{{i.central.nombre}}/{{i.codigo}}">AGDA</a></td>
                                    {%  elif user.is_authenticated and usuario_comun.privilegio == "DE_ALTA_INVITADO" and usuario_comun.central.nombre == central_x %} 
                                    <a href="/analisis/{{i.central.nombre}}/{{i.codigo}}">AGDA</a></td>
                                    {%  else  %}  
                                    <p>AGDA</p>

                                    {% endif %}                                                                
                                  

                                    
                                </tr >
                            {%  endfor %} 
                          

                        </table>
                        </center>

                       
                        
                                                
                   </div>                  
              
                
                  
                </div>
            </div>


          </div>






<div class="row">

             <div class="col-md-12">
                <div class="thumbnail"> 
                     <div class="caption">
                     <center><h2 class="panel-title"> Analisis Descargas Parciales en Generadores</h2></center>
                     <br>
                     <center>
                         <table BORDER="1" CELLSPACING="1">
                            
                             <tr  align="center">
                                    
                                    <td WIDTH="75">Unidad</td>  
                                    <td WIDTH="120">Gx CODIGO</td>                 
                                    <td WIDTH="170">Gx MARCA</td>

                                   
                                    
                                    <td WIDTH="80">Ver </td>
                             </tr > 


                            {%  for i in lista_generadores %}   
                                
                                <tr  align="center">
                                    
                                    <td WIDTH="75">{{i.codigo}}</td>   
                                    <td WIDTH="100">{{i.modelo}}</td>              
                                    <td WIDTH="150">{{i.marca}}</td>           
                                   
                                    
                                    <td WIDTH="80">

                                    {%  if user.is_authenticated and usuario_comun.privilegio == "DE_ALTA" and usuario_comun.central.nombre == central_x %}  
                                    <a href="/analisis_dp/{{i.central.nombre}}/{{i.codigo}}">ADP</a></td>
                                    {%  elif user.is_authenticated and usuario_comun.privilegio == "DE_ALTA_INVITADO" and usuario_comun.central.nombre == central_x %} 
                                    <a href="/analisis/{{i.central.nombre}}/{{i.codigo}}">AGDA</a></td>
                                    {%  else  %}  
                                    <p>ADP</p>

                                    {% endif %}                                                                
                                  

                                    
                                </tr >
                            {%  endfor %} 
                          

                        </table>
                        </center>

                       
                        
                                                
                   </div>                  
              
                
                  
                </div>
            </div>


          </div>



<div class="row">

             <div class="col-md-12">
                <div class="thumbnail"> 
                     <div class="caption">
                     <center><h2 class="panel-title"> Sistemas en estudio termografico</h2></center>
                     <br>
                     <center>
                         <table BORDER="1" CELLSPACING="1">
                            
                             <tr  align="center">
                                     <td WIDTH="100">Fecha inicial</td> 
                                    <td WIDTH="160">Nombre del sistema termogafico</td> 

                                    <td WIDTH="100">Ver termografias </td>
                             </tr > 


                            {%  for i in lista_sistemas_termograficos %}   
                                
                                <tr  align="center">
                                    <td WIDTH="100">{{i.fecha_ingreso}}</td>
                                    <td WIDTH="160">{{i.nombre}}</td>   

                                    

                                    <td WIDTH="100">           
                                    
                                    {%  if user.is_authenticated and usuario_comun.privilegio == "DE_ALTA" and usuario_comun.central.nombre == central_x %}  
                                    <a href="/analisis_termografico/{{i.nombre}}/">Ver Termografia</a></td>
                                    {%  elif user.is_authenticated and usuario_comun.privilegio == "DE_ALTA_INVITADO" and usuario_comun.central.nombre == central_x %} 
                                    <a href="/analisis/{{i.central.nombre}}/{{i.codigo}}">AGDA</a></td>
                                    {%  else  %}  
                                    <p>Ver termografia</p>

                                    {% endif %}                                                                
                                  

                                    
                                </tr >
                            {%  endfor %} 
                          

                        </table>
                        </center>

                       
                        
                                                
                   </div>                  
              
                
                  
                </div>
            </div>


          </div>


        </div>
  </div>

  {% endblock %}