{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}
{% block content %}
      

<div class="panel panel-info">
      <div class="panel-heading">
        <center><h2 class="panel-title"> CONCENTRACIONES DE GASES DISUELTOS </h2></center>
        <center><h2 class="panel-title"> EN ACEITE (PPM)</h2></center>
          
      </div>


    <div class="panel-body">

            <div class="row">

             <div class="col-md-12">
                <div class="thumbnail">                                    
                  <div class="caption">
                    <h4><center> {{central_x}} Transformador {{transformador_x}} </center></h4>
                    <h4><center> codigo {{identificador.transformador.marca}} Unidad {{identificador.transformador.descripcion}}</center></h4>
                        <center>
                         <table BORDER="1" CELLSPACING="1">
                            
                             <tr  align="center">
                                   
                                                                        
                                     <td WIDTH="100">Fecha</td> 
                                    <td WIDTH="60">H2</td>                                    
                                    <td WIDTH="60">O2</td>                                    
                                    <td WIDTH="60">N</td>
                                    <td WIDTH="60">CH4</td>                                    
                                    <td WIDTH="60">CO</td>                                   
                                    <td WIDTH="60">C2H6 </td>
                                    <td WIDTH="60">CO2</td>                                    
                                    <td WIDTH="60">C2H4</td>                                    
                                    <td WIDTH="60">C2H2</td>
                                   
                                    
                                     <td WIDTH="60">Ver</td>
                                      <td WIDTH="60">Ver</td>

                                                               
                               </tr >

                            {%  for i in lista_mediciones %} 
                                    
                                <tr  align="center">
                                   
                                    <td WIDTH="100">{{i.fecha_del_analisis}}</td>
                                    <td WIDTH="60">{{i.Hidrogeno}}</td>                                    
                                    <td WIDTH="60">{{i.Oxigeno}}</td>                                    
                                    <td WIDTH="60">{{i.Nitrogeno}}</td>
                                    <td WIDTH="60">{{i.Metano}}</td>                                    
                                    <td WIDTH="60">{{i.Monoxido_de_carbono}}</td>                                   
                                    <td WIDTH="60">{{i.Etano}} </td>
                                    <td WIDTH="60">{{i.Dioxido_de_carbono}}</td>                                    
                                    <td WIDTH="60">{{i.Etileno}}</td>                                    
                                    <td WIDTH="60">{{i.Acetileno}} </td>
                                   
                                     
                                    
                                    <td WIDTH="60"><li><a href="/total_gases_combustibles/{{i.central.nombre}}/{{i.transformador.codigo}}"> Analizar</a></li></td>

                                    <td WIDTH="60"><li><a href="/tendencias/{{i.central.nombre}}/{{i.transformador.codigo}}"> Tendencias</a></li></td>

                                     
                                </tr >


                            {%  endfor %} 
                         

                        </table>
                        </center>

                      
                        
                   </div>                  
              
                
                  
                </div>
            </div>


          </div>

        </div>
  </div>

  {% endblock %}