{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}
{% block content %}
      

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center> Lista de Transformadores</center></h2>
      </div>


    <div class="panel-body">

            <div class="row">

             <div class="col-md-12">
                <div class="thumbnail">                                    
                  <div class="caption">
                    <h4><center>Codigo de transformador !!</center></h2>  
                               <h2><center>Editar datos !!</center></h2>  
                               <h2><center>Ingresar datos de laboratorio !!</center></h2>  
                               <h2><center>Analisis gases disueltos</center></h2>  
                               <h2><center>Tendencia de gases disueltos</center></h2>  
                    </div>                  
              
                
                  
                </div>
            </div>


          </div>

        </div>
  </div>