{% extends "base.html" %}


{% block content %}

{% load staticfiles %} 

    

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center>MANUAL DE USUARIO </center></h2>             
      </div>

<div class="panel-body">
    <div class="row">




      <div class="col-md-3">
           <div class="thumbnail"> 
                  <center> <a href=".">  <img src ='{% static "mifoto.gif" %}' alt='img' > </a> </center>    
                     <br>
                 
                 <center> <p>MANUAL DE UAUSUARIO DE SISTEMA INFORMATICO PARA EL ANALISIS PREDICTIVO DE MAQUINAS ELECTRICAS DE CEL</p> </center>
                  <br>    

                  <center> <p>MPredictivoCEL V3</p> </center>  
                  <br>   

                  <div class="caption">

                  <p>Este manual tiene por objetivo ser una guía para el usuario, cualquier duda, consulta o recomendación contactar con Ernesto Vladimir Valdez Rivas, Ing instrumentista y de control de C.H. 5 de Noviembre.   Email:    evvaldez@cel.gob.sv   tel: 2211-1893</p> 
                  <br>
               
                  <center> <a href=".">  <img src ='{% static "principal.jpg" %}' alt='img' > </a> </center> 
                  <center><h6><p>Figura 1: Pagina principal</p></h6></center>   

                    <br>
                   <p>Al iniciar se muestra la pagina principal con un listado con las centrales que llevan un análisis predictivo de sus equipos, Cuando hace click en VER EQUIPOS se le mostraran los diferentes análisis y equipos que están bajo análisis.</p> 
                   <br>
                   <p>En editar central puede cambiar los datos de la Central, siempre y cuando haya sido usted quien creó los datos de la central.</p> 
                   <br>
                   <p>Esta filosofía se mantendrá a lo largo de todo el sistema, si usted es quien creo los datos, tienen derecho a editar los datos, no se ofrece opción de borrarlos, a menos que usted sea el administrador de la central.</p> 
                   <br>
                   <p>Al hacer click sobre una central, se mostraran los transformadores, Generadores, sistemas termográficos y un listado con los usuarios de esa central junto a los análisis que pueden realizarce</p> 
                   <br>

                   <p>El sistema se organiza de acuerdo al siguiente esquema jerárquico</p>   


                  <center> <a href=".">  <img src ='{% static "esquema.jpg" %}' alt='img' > </a> </center> 
                  <center><h6><p>Figura 2: Esquema jerárquico de usuarios</p></h6></center> 
                  <br>

                   <p>Los análisis son:</p> 
                   <br>

                     <p>• ANALISIS DE GASES DISUELTOS EN ACEITE.(Generadores de electricidad)
                    • ANALISIS DE DESCARGAS PARCIALES (Transformadores de potencia)
                    • ANALISISI TERMOGRAFICOS (Sistemas termo gráficos)</p> 
                    <br>
                    <p> Presionando el botón correspondiente podrá ver un listado de los equipos o sistemas bajo análisis.</p> 
                    <br>
                    <center> <a href=".">  <img src ='{% static "agda.jpg" %}' alt='img' > </a> </center> 
                  <center><h6><p>Figura 3: Listado de transformadores</p></h6></center> 


                      <br>
                    <p> Agregar: Sirve para agregar un análisis nuevo de aceite
                    Editar transformador: Edita los datos del Transformador 
                    AGDA: Sirva para ver el análisis de gases disueltos en aceite del transformador </p> 

                   <br>

                  <center> <a href=".">  <img src ='{% static "parciales.jpg" %}' alt='img' > </a> </center> 
                  <center><h6><p>Figura 4: Listado de generadores</p></h6></center> 
                   <br>
                  <p> Agregar: Sirve para agregar un análisis de descargas parciales.
                  Editar Generador: Edita los datos del Generador 
                  ADP: Para ver el análisis de descargas parciales en el Generador</p> 

                    <br>
                   <center> <a href=".">  <img src ='{% static "termo.jpg" %}' alt='img' > </a> </center> 
                  <center><h6><p>Figura 5: Listado de sistemas termograficos</p></h6></center> 
                    <br>
                   <p>Agregar: Sirve para agregar fotografías termográficas del sistema.
                  Editar Sistema termográfico: Edita datos del sistema termográfico, 
                  Ver Termografía: Para ver el análisis de descargas parciales en el Generador</p> 
                     <br>
                     <br>

                   <p>ANALISIS PREDICTIVOS</p> 

                  <br>
                  <p> ANALISIS DE GASES DISUELTOS EN ACEITE</p> 
                  <br>

                   <center> <a href=".">  <img src ='{% static "agda1.jpg" %}' alt='img' > </a> </center> 
                  <center><h6><p>Figura 6: Análisis de gases disueltos en aceite AGDA</p></h6></center> 
                     <br>
                   <p>Entre los análisis se encuentra el listado acumulado de los análisis realizados regularmente a aceites de  los transformadores, se presenta un listado del estado actual de los gases disueltos en los aceites de los transformadores, también se puede ver un grafico de tendencias de los gases disueltos en el aceite. Los datos o análisis mensuales pueden ser editados en la sección de historico de gases.</p> 

                   <br>

                  <center> <a href=".">  <img src ='{% static "agda2.jpg" %}' alt='img' > </a> </center> 
                  <center><h6><p>Figura 7: Análisis de gases disueltos en aceite AGDA</p></h6></center> 
                     <br>

                   <p>En el análisis de gases disueltos en aceite también también se representa por medio de graficas de barras en las cuales se comparan las concentraciones de acuerdo a la norma IEEE C57.104-1991,  se hace uso métodos analíticos de GAS CLAVE, LIMITE DE CONCENTRACIONES, ROGGER  ETC, sin olvidar el análisis por medio del triangulo de DUVAL</p> 

                   <br>

                   <p>ANALSIS DE DESCARGAS PARCIALES</p> 
                   <br>

                  <center> <a href=".">  <img src ='{% static "dp1.jpg" %}' alt='img' > </a> </center> 
                  <center><h6><p>Figura 8: Análisis de descargas parciales</p></h6></center> 

                  <br>

                   <p>El análisis de descargas parciales lleva un historial de las tendencias mes a mes de las  intensidades de las descargas parciales PDI registradas por el equipo, esta medición se muestra en las gráficas de descargas parciales que el equipo proporciona en la parte inferior de cada gráfico.</p> 

                   <br>

                    <center> <a href=".">  <img src ='{% static "dp2.jpg" %}' alt='img' > </a> </center> 
                  <center><h6><p>Figura 9: Análisis de descargas parciales</p></h6></center> 

                  <br>

                   <p>Además del historial de la intensidad de la descarga parcial PDI, también se pueden ver las gráficas mensuales proporcionadas por el equipo de descargas parciales.</p> 
                  <br>
                   <p>Al seleccionar ver graficas de un mes determinado allí pueden ser editados los datos correspondientes a ese mes junto a las gráficas.</p> </p> 

                   <br>
                   <br>

                   <p>SISTEMAS TERMOGRAFICOS </p> 
                   <br>

                     <center> <a href=".">  <img src ='{% static "termo1.jpg" %}' alt='img' > </a> </center> 
                  <center><h6><p>Figura 10: Análisis de sistemas termografico</p></h6></center> 
                  <br>

                   <p>En el análisis se muestra el sistema termografico, al sitema pueden agregarcele cada vez un apar de fotografías termograficas. Están disponibles en el análisis el botón para editar la información del análisis.</p> 
                   <br>


                   <p>Todos los análisis cuentan con la opción de ingresar comentarios, el sistema informático almacena la fecha en el cual se ingresaron los datos, los usuarios no tienen la opción de borrar información, esto solo lo puede hacer el administrador de la central o el administrador general.</p> 
                   <br><br>

                   <p>ADMINISTRACION</p> 
                   <br>
                  
                   <p>Como expusimos antes, existe un administrador general quien tiene todas las credenciales para agregar, borrar, editar toda la información del sistema.</p> 
                  <br>
                   <p>El administrador General es el encargado de acreditar a los administradores de cada central y de crear cada central hidroeléctrica.  </p> 
                  <br>
                   <p>El administrador de cada central puede dar de alta a los usuarios que lo soliciten, puede agregar o editar equipos como: generadores y transformadores, las opciones para borrar están limitadas únicamente para borrar mediciones de los sistemas.</p> 
                  <br>
                   <p>Los usuarios comunes se inscriben ellos mismos, el administrador de cada central aprueba su solicitud dándole de alta dentro del sistema, los usuarios comunes únicamente pueden ingresar y editar los datos de medición o análisis. </p> 
                   <br>
                  
                   <p>Existe la opción de usuarios invitados al igual que los usuarios comunes ellos se inscriben  ellos mismos y el administrador será quien les dará de alta en el sistema como invitado, ellos solo pueden ver los análisis</p> 
                   <br>

                   <p>Para entra a administración solamente hay que hacer clic sobre INICIO-> Administrar, allí aparecerá la informaciones los sistemas a los cuales tendrá acceso para su mantenimiento. (Tener cuidado en esta opción, ya que de alguna manera puede tener acceso a otros datos.)</p> 
                   <br>

                  <center> <a href=".">  <img src ='{% static "admin2.jpg" %}' alt='img' > </a> </center> 
                  <center><h6><p>Figura 11: Entrar al administrador</p></h6></center> 
                  <br>
                
                   <p>Nota: Como administador del sistema tiene que ser cuidadoso con la informacion, recomendamos discresion. </p>
                   <br>
                   <br> 

                   <p>INFORMACION Y AYUDA</p>
                   <br>

                   <p>Para encontra este manual haga click en AYUDA, si lo que desea es informacion sobre los analisis haga click en INICIO--> Informacion </p> 

                  </div> 

                </div>    
              </div> 

   

        </div>
    </div>
</div>
        

{% endblock %}