
{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block content %}
      

<!-- ######################################################################  -->
        <div class="row">
             	<div class="col-md-3">
            	</div>


            	 <div class="col-md-6">
               		 <div class="thumbnail">                                    
		                    <div class="caption">
		                    <br>
		                    <h4><center>ANALISIS Y DAGOSTICO DE MAQUINAS ELECTRICAS</center></h4>               
		                    <br>
		                    <p>Una herramienta de de diagnostico, para evaluar y detectar fallas incipientes en maquinas electricas</p>
                        <br>
                                  		                                          
                   

                    <center>
                         <table BORDER="1" CELLSPACING="1">
                            
                             <tr  align="center">                                    
                                    
                                    <td WIDTH="200">CENTRAL</td>                 
                                    <td WIDTH="140">VER</td> 
                              </tr >


                            {%  for i in centrales %}   
                              <tr  align="center">
                                      
                                    <td WIDTH="200">{{i.nombre}}</td>         
                                    <td WIDTH="140"><li><a href="/listado_de_equipos/{{i.nombre}}" target="_blank">VER EQUIPOS  </a></li></td>
                              </tr >  
                            {%  endfor %} 
                          

                        </table>
                        </center>


                        </div>  


                     </div>
                 </div>


               <div class="col-md-3">
               </div>
        </div>

         
        <!-- ######################################################################  -->








{% endblock %}
