{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block cel %}
      
 {{estado_trafo}}
 {{NOMBRE_GAS_PRUEBA}}
 {{ESTADO_DE_GASES}}

<div class="panel panel-info">
      <div class="panel-heading">
            <h2 class="panel-title"><center>TENDENCIA DE LOS GASES DISUELTOS </center></h2>
            <center><img src="/grafico"></center>
      </div>


    <div class="panel-body">
        <!-- ######################################################################  -->
        <div class="row">
             	<div class="col-md-3">
            	</div>


            	 <div class="col-md-6">
               		 <div class="thumbnail">                                    
		                    <div class="caption">
		                    <h4><center>GASES PRESENTES EN ESTA MUESTRA</center></h4> 
                        <center><img src="/grafico"></center>
		                    <img src="/grafico">    
		                    </div>  


                     </div>
                 </div>


               <div class="col-md-3">
               </div>
        </div>
        

 


    </div>
</div>

                  
 

<img src="/grafico">
{% endblock %}
