{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block content %}
      
 
<div class="panel panel-info">
      <div class="panel-heading">
            <h2 class="panel-title"><center>TENDENCIA DE LOS GASES DISUELTOS </center></h2>
            
            
      </div>


    <div class="panel-body">
        <!-- ######################################################################  -->
        <div class="row">
             	

            	 <div class="col-md-12">
               		 <div class="thumbnail">                                    
		                    <div class="caption">
		                    <h4><center>TENDENCIAS</center></h4> 
                         <br>
                        <center><img src="/grafico_tendencias/{{central}}/{{transformador}}/Hidrogeno"></center>
                        <br>
                        <center><img src="/grafico_tendencias/{{central}}/{{transformador}}/Oxigeno"></center>
                         <br>
                        <center><img src="/grafico_tendencias/{{central}}/{{transformador}}/Nitrogeno"></center>
                         <br>
                        <center><img src="/grafico_tendencias/{{central}}/{{transformador}}/Metano"></center>
                         <br>
                        <center><img src="/grafico_tendencias/{{central}}/{{transformador}}/Monoxido_de_carbono"></center>
                         <br>
                        <center><img src="/grafico_tendencias/{{central}}/{{transformador}}/Etano"></center>
                         <br>
                        <center><img src="/grafico_tendencias/{{central}}/{{transformador}}/Dioxido_de_carbono"></center>
                         <br>
                        <center><img src="/grafico_tendencias/{{central}}/{{transformador}}/Etileno"></center>
                         <br>
                        <center><img src="/grafico_tendencias/{{central}}/{{transformador}}/Acetileno"></center>
                         <br>
                                      

		                    </div>  


                     </div>
                 </div>


               
        </div>
        

 


    </div>
</div>
        
 


{% endblock %}
