{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block content %}
      
 
<div class="panel panel-info">
      <div class="panel-heading">
            <h2 class="panel-title"><center>TENDENCIA DE LOS GASES DISUELTOS </center></h2>
            <center><img src="/grafico"></center>
      </div>


    <div class="panel-body">
        <!-- ######################################################################  -->
        <div class="row">
             	<div class="col-md-3">
            	</div>

            	 <div class="col-md-6">
               		 <div class="thumbnail">                                    
		                    <div class="caption">
		                    <h4><center>TENDENCIAS</center></h4> 
                        <center><img src="/grafico_tendencias/{{H2}}"></center>
                        <center><img src="/grafico_tendencias/{{N}}"></center>
                        <center><img src="/grafico_tendencias/{{CH4}}"></center>
                        <center><img src="/grafico_tendencias/{{CO}}"></center>
                        <center><img src="/grafico_tendencias/{{C2H6}}"></center>
                        <center><img src="/grafico_tendencias/{{C2H4}}"></center>
                        <center><img src="/grafico_tendencias/{{C2H2}}"></center>
                        <center><img src="/grafico_tendencias/{{C3H6}}"></center>
                        <center><img src="/grafico_tendencias/{{C3H8}}"></center>
                        <center><img src="/grafico_tendencias/{{C4H10}}"></center>
                            
		                    </div>  


                     </div>
                 </div>


               <div class="col-md-3">
               </div>
        </div>
        

 


    </div>
</div>

                  
 

<img src="/grafico">
{% endblock %}
